@import '../../variables.scss';

@property --x2 {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --y2 {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

.FormBrief {
  $s: &;
  margin: rem(48) 0 rem(57) 0;

  &__header {
    margin: 0 rem(16) 0 rem(16);

    h2 {
      margin-bottom: rem(16);
      font-weight: var(--fw-medium);
      font-size: rem(40);
      line-height: rem(48);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: var(--font-sec);
    font-weight: var(--fw-light);

    p {
      margin: 0 rem(16) 0 rem(16);
      font-size: rem(16);
      font-family: var(--font-sec);
      font-weight: var(--fw-light);

      br {
        display: none;
      }
    }

    &.success {
      display: none;
    }
  }

  &__services {
    margin-bottom: rem(56);
    margin-top: rem(40);
    padding: 0 rem(16) 0 rem(16);
  }

  &__dropclick {
    padding-bottom: rem(10);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: rem(40);
    border-bottom: solid;
    border-width: rem(1);
    border-color: var(--sec-5);
    display: flex;
    flex-direction: column;
    position: relative;

    &.contain {
      border-width: 2px;
      border-color: var(--sec-3);
      padding-bottom: rem(16);

      span {
        font-size: rem(10);
        line-height: rem(18);
      }
    }

    &.active {
      border-color: var(--prime-3);

      span {
        font-size: rem(10);
        line-height: rem(18);
        position: static;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      margin-bottom: rem(8);
      font-size: rem(16);
      line-height: rem(24);
      color: var(--sec-4);
      transition: 0.3s;
      min-height: rem(24);

      &::after {
        width: rem(16);
        height: rem(16);
        position: absolute;
        right: 0;
        bottom: rem(20);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgNkw4IDEyIiBzdHJva2U9IiM1MjU0NTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTQgNkw4IDEyIiBzdHJva2U9IiM1MjU0NTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
        background-size: contain;
        content: '';
        transition: transform 0.3s;
        z-index: 10;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__selectedItems {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5);
    padding-right: rem(24);

    div {
      display: inline;
      gap: rem(6);
      background-color: var(--prime-4);
      padding: rem(8.5) rem(30) rem(8.5) rem(16);
      border-radius: rem(20);
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: rem(8);
        width: rem(16);
        height: rem(16);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjgiIGZpbGw9IiNGMEYyRjUiLz4KPHBhdGggZD0iTTYgNkwxMCAxMCIgc3Ryb2tlPSIjMjcyOTJGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEwIDZMNiAxMCIgc3Ryb2tlPSIjMjcyOTJGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
      }
    }
  }

  &__select {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: rem(16);
    box-shadow: 0 0 rem(14) 0 #cfd8e7e8;
    margin: rem(8) 0 0 0;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    &.active {
      max-height: rem(210);
      opacity: 1;
    }
  }

  &__option {
    display: flex;
    min-height: rem(42);
    padding: rem(10);
    font-size: rem(15);
    line-height: rem(22);

    &:nth-child(even) {
      background-color: var(--prime-1);
    }

    &.active {
      background-color: var(--prime-3);
      color: var(--prime-4);
      transition: background-color 0.3s;
    }

    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  &__contacts {
    padding: rem(16);
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-size: rem(24);
    line-height: rem(32);
    margin-bottom: rem(40);
  }

  &__placeholder {
    color: var(--sec-3);
    font-size: rem(18);
    line-height: rem(18);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 10;
  }

  &__input {
    position: relative;
    min-height: rem(95);

    input {
      width: 100%;
      padding-bottom: rem(16);
      padding-right: rem(5);
      color: var(--sec-3);
      font-weight: var(--fw-light);
      font-family: var(--font-sec);
      font-size: rem(18);
      line-height: rem(18);
      background-color: transparent;
      border-bottom: 2px solid var(--sec-5);
      transition: 0.3s;
      position: relative;
      z-index: 20;

      &:not(:placeholder-shown) {
        border-bottom: 2px solid var(--prime-2);
        transition: 0.3s;
        background-color: var(--prime-1);

        & + #{$s}__placeholder {
          top: rem(-26);
          transition: 0.3s;
          font-size: rem(14);
        }
      }

      &:focus {
        border-bottom: 2px solid var(--prime-3);
        outline: none;
        caret-color: var(--prime-3);

        & + #{$s}__placeholder {
          top: rem(-26);
          transition: 0.3s;
          font-size: rem(14);
        }
      }

      &:autofill,
      &:autofill:hover,
      &:autofill:focus,
      &:autofill:active,
      &:-webkit-autofill {
        background-color: var(--prime-1) !important;
        color: var(--sec-3);
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    &_error {
      input {
        color: var(--sec-1);
        border-bottom: 2px solid var(--sec-1);

        & + span + #{$s}__textError {
          display: block;
          height: auto;
          opacity: 1;
          transition: 0.5s;
          transform: translateY(0);
        }

        &:focus {
          border-bottom: 2px solid var(--sec-1);
          outline: none;
          caret-color: var(--prime-3);
        }

        &:not(:placeholder-shown) {
          border-bottom: 2px solid var(--sec-1);
        }
      }
    }
  }

  &__textError {
    display: none;
    height: 0;
    opacity: 0;
    font-size: rem(10);
    line-height: rem(18);
    color: var(--sec-1);
    margin-top: rem(8);
    transition: 0.5s;
    transform: translateY(rem(-20));
  }

  &__checkbox {
    display: flex;

    input {
      display: none;
    }

    label {
      display: flex;
      flex-direction: row-reverse;
      align-self: flex-start;
      align-items: center;
      font-size: rem(10);
      line-height: rem(18);
      color: #02283a;

      &::after {
        display: block;
        margin-right: rem(8);
        width: rem(16);
        height: rem(16);
        border: 1px solid var(--sec-3);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC40OTk5MzkgMy4wNzQyNEwzLjQyNTYgNS45OTk3OEw4LjAwMDAxIDEuNDI1MjkiIHN0cm9rZT0iI0Y2RjZGNiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
        content: '';
        cursor: pointer;
        transition: 0.3s;
      }

      &:hover::after {
        border: 1px solid var(--prime-3);
      }
    }

    input:checked + label::after {
      background-color: var(--prime-3);
      border: none;
      transition: 0.3s;
    }
  }

  &__submit {
    align-self: flex-start;
    padding: rem(16) rem(40);
    font-size: rem(16);
    color: var(--prime-1);
    background-color: var(--prime-2);
    border: none;
    cursor: pointer;
    border-radius: rem(34);
    margin-top: rem(40);
    transition: 0.3s;
    min-height: rem(56);
    position: relative;
    overflow: hidden;

    &:disabled {
      background-color: var(--sec-4);
      cursor: initial;

      &:hover::before {
        content: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: var(--y2);
      left: var(--x2);
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: var(--prime-3);
      transition: width 0.5s, height 0.5s;
    }

    &:hover::before {
      width: rem(350);
      height: rem(350);
    }

    @media (pointer: coarse) {
      &:hover::before {
        content: none;
      }
    }

    span {
      position: relative;
      z-index: 10;
    }
  }

  &__success {
    display: none;
    flex-direction: column;
    margin: rem(8) rem(16) 0 rem(16);
    font-family: var(--font-sec);
    font-weight: var(--fw-light);

    &.active {
      display: flex;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      padding: rem(16) rem(40);
      font-size: rem(16);
      background-color: var(--sec-4);
      color: var(--prime-1);
      border: none;
      cursor: pointer;
      border-radius: rem(34);
      margin-top: rem(24);
      transition: 0.3s;
      min-height: rem(56);

      &:hover {
        background-color: var(--prime-2);
      }
    }
  }

  @media all and (min-width: $bp5) {
    form p br {
      display: block;
    }
  }

  // Адаптация для tablet
  @media all and (min-width: $bp3) {
    &__header {
      margin: 0 rem(32) 0 rem(32);

      h2 {
        margin-bottom: rem(24);
        font-size: rem(56);
        line-height: rem(64);
      }
    }

    form {
      p {
        margin: 0 rem(32) 0 rem(32);
        font-size: rem(24);
      }
    }

    &__services {
      margin-top: rem(64);
      margin-bottom: rem(44);
      padding: 0 rem(32) 0 rem(32);
    }

    &__dropclick {
      display: none;
    }

    &__select {
      flex-direction: row;
      flex-wrap: wrap;
      background-color: transparent;
      column-gap: rem(16);
      row-gap: rem(20);
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      max-height: 100%;
      overflow-y: auto;
      transition: all 0.3s;
      opacity: 1;
    }

    &__option {
      min-height: rem(56);
      padding: rem(16) rem(32);
      font-size: rem(16);
      line-height: rem(24);
      border: 1px solid var(--prime-2);
      border-radius: rem(34);
      background-color: var(--prime-1);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: border 0s;

      &.active {
        color: var(--prime-4);
        transition: none;
        border: 1px solid var(--prime-3);
        transition: width 1s, height 1s, border 0.1s;
        background-color: var(--prime-2);

        &::after {
          width: rem(1000);
          height: rem(1000);
        }

        &::before {
          content: none;
        }
      }

      &:hover {
        transition: all 1.5s, border 0.1s;

        &.active {
          transition: width 1s, height 1s, border 0.1s;
          background-color: var(--prime-2);

          &::after {
            width: rem(1000);
            height: rem(1000);
          }
        }
        span {
          color: var(--prime-4);
          transition: color 1s;
        }

        &::before {
          width: rem(1000);
          height: rem(1000);
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: var(--y2);
        left: var(--x2);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: width 1s, height 1s;
      }

      &::after {
        background-color: var(--prime-3);
      }

      &::before {
        background-color: var(--prime-2);
      }

      span {
        transition: color 0.5s 0.2s;
        position: relative;
        z-index: 10;
      }
    }

    &__contacts {
      padding: rem(16) rem(32) rem(16) rem(32);
    }

    &__subtitle {
      font-size: rem(40);
      line-height: rem(48);
      margin-bottom: rem(50);
      font-family: var(--font-prime);
      font-weight: var(--fw-medium);
    }

    &__inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: rem(32);
      padding-bottom: rem(16);
    }

    &__input {
      min-height: rem(72);
    }

    &__input {
      flex-grow: 1;

      &_name,
      &_email {
        margin-bottom: 0;
      }
    }

    &__textError {
      position: absolute;
      bottom: auto;
      left: 0;
    }

    &__checkbox label {
      font-size: rem(14);
      line-height: rem(22);
    }

    &__success {
      margin: rem(8) rem(32) 0 rem(32);
    }
  }
}
