@import '../../variables.scss';

.Ticker {
  background-color: var(--prime-3);
  height: rem(51);
  font-size: rem(16);
  line-height: rem(15.44);
  letter-spacing: rem(1.6);
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 32px;

  &__text {
    animation: marquee 35s linear infinite;
    white-space: nowrap;
    display: flex;
    align-items: center;
    list-style-type: disc;
    gap: 32px;

    li {
      font-weight: var(--fw-light);
      font-family: var(--font-sec);
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media all and (min-width: $bp3) {
    font-size: rem(24);
    line-height: rem(32);

    &__star {
      height: rem(78);
      font-size: rem(12);
      line-height: normal;

      ul {
        list-style-type: none;
        gap: rem(10);

        li {
          display: flex;
          align-items: center;
          gap: rem(10);
          margin: 0;

          &::before {
            content: '';
            display: block;
            width: rem(23.6);
            height: rem(23.6);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjkwMDEgMC44ODAxMjdMMTMuNTkxMiAxMS4wMjlMMjMuNzQwMSAxMi43MjAxTDEzLjU5MTIgMTQuNDExM0wxMS45MDAxIDI0LjU2MDFMMTAuMjA4OSAxNC40MTEzTDAuMDYwMDU4NiAxMi43MjAxTDEwLjIwODkgMTEuMDI5TDExLjkwMDEgMC44ODAxMjdaIiBmaWxsPSIjRjBGMkY1Ii8+Cjwvc3ZnPgo=');
          }
        }
      }
    }
  }
}
