{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "printWidth": 200,
  "plugins": ["prettier-plugin-css-order"],
  "cssOrder": [
    "position",
    "top",
    "right",
    "bottom",
    "left",
    "z-index",
    "display",
    "float",
    "width",
    "height",
    "margin",
    "padding",
    "font-family",
    "font-style",
    "font-size",
    "line-height",
    "font-weight",
    "text-align",
    "color",
    "background-color",
    "border",
    "border-radius",
    "opacity",
    "transition",
    "will-change"
  ]
}
