@import '../../variables.scss';

@property --x5 {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --y5 {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

.CookieAgreement {
  $s: &;

  &__company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
    min-height: rem(88);
    padding: 0 rem(32);
    font-family: var(--font-sec);
  }

  &__text {
    font-weight: var(--fw-light);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(16) rem(40);
    font-size: rem(16);
    color: var(--prime-1);
    background-color: var(--prime-3);
    border: none;
    cursor: pointer;
    border-radius: rem(34);
    transition: 0.3s;
    min-height: rem(56);
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: var(--y5);
      left: var(--x5);
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: var(--prime-2);
      transition: width 0.5s, height 0.5s;
    }

    &:hover {
      color: white;
      &::before {
        width: 350px;
        height: 350px;
      }
    }

    span {
      position: relative;
      z-index: 10;
    }
  }

  @media all and (max-width: $bp4) {
    &__company {
      flex-direction: column;
      gap: 16px;
      padding: 16px;
    }

    &__button {
      padding: rem(10) rem(20);
      min-height: rem(32);
    }
  }
}
