@import '../../variables.scss';

.MarksTour {
  $s: &;
  position: relative;
  background-color: var(--prime-1);
  @include sectionMargin;
  @include container;

  &.active {
    #{$s}__iframe {
      filter: none; // Без затемнения по умолчанию
      pointer-events: auto;
    }

    #{$s}__button {
      opacity: 0;
      height: 0;
    }
  }

  &__iframe {
    display: block;
    filter: brightness(0.6);
    transition: filter 0.3s ease; // Плавное затемнение
    margin: 0 auto;
    border-radius: 16px;
    aspect-ratio: 1 / 1.87;
    width: 70vw;
    height: auto;
    pointer-events: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition:
      opacity 0.5s ease,
      height 0.2s 0.5s ease;
    border-radius: 33px;
    background-color: var(--prime-2);
    padding: 20px 30px;
    height: 58px;
    color: white;
    font-weight: var(--fw-light);
    font-size: 16px;
    line-height: 1.1;
    font-family: var(--font-sec);

    &:hover {
      background-color: var(--prime-3);
    }
  }

  @media all and (min-width: $bp5) {
    &__iframe {
      aspect-ratio: 1 / 1.5;
    }
  }

  @media all and (min-width: $bp3) {
    width: 100vw;
    &__iframe {
      aspect-ratio: 11 / 6;
    }
  }
}
