@import '../../variables.scss';

.Сontacts {
  margin: rem(48) rem(16) 0 rem(16);

  &__title {
    margin: 0 0 rem(40) 0;

    h2 {
      font-size: rem(40);
      font-weight: var(--fw-medium);
      line-height: rem(48);
      margin-bottom: rem(16);
    }

    p {
      font-size: rem(16);
      font-weight: var(--fw-light);
      font-family: var(--font-sec);
    }
  }

  &__form {
    font-family: var(--font-sec);
    font-weight: var(--fw-light);

    form {
      display: flex;
      flex-direction: column;
    }

    input[type='text'],
    input[type='email'] {
      font-size: rem(18);
      line-height: rem(18);
    }
  }

  &__submit {
    align-self: flex-start;
    font-size: rem(18);
    padding: rem(16) rem(40);
    font-size: rem(16);
    background-color: var(--sec-3);
    color: var(--prime-1);
    border: none;
    cursor: pointer;
    border-radius: rem(34);

    &:hover {
      background-color: var(--prime-2);
    }
  }

  &__agreement {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    font-size: rem(10);
    line-height: rem(18);

    input[type='checkbox'] {
      width: rem(16);
      height: rem(16);
      margin-right: rem(8);
    }
  }

  &__services {
    margin-bottom: 20px;
  }

  &__selectedItems {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span {
      background-color: #e0e0e0;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  &__dropdown {
    border-bottom: 1px solid #dcddde;

    button {
      padding-bottom: 10px;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &::after {
        display: block;
        position: relative;
        left: 0;
        content: '';
        width: 16px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgNkw4IDEyIiBzdHJva2U9IiM1MjU0NTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTQgNkw4IDEyIiBzdHJva2U9IiM1MjU0NTkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
        background-size: contain;
        margin-left: auto;
      }

      // &:hover {
      //   background-color: #0056b3;
      // }
    }
  }
  &__select {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
      input {
        margin-right: 10px;
      }
    }
  }
}
