@import '../../variables.scss';

.Counter {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: rem(48) rem(16);
    row-gap: rem(56);
    column-gap: 0;
    overflow: hidden;
  }

  &__item {
    width: calc(100vw - rem(32));
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: rem(4);
    z-index: 10;
    background-color: var(--prime-1);

    &.active {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out 3s;
    }

    div {
      display: flex;
      align-self: center;
      font-family: var(--font-prime);
      font-size: rem(88);
      font-weight: var(--fw-medium);
      line-height: rem(96);
    }

    p {
      font-size: rem(14);
      line-height: rem(22);
      font-family: var(--font-sec);
      font-weight: var(--fw-light);
    }
  }

  &__video {
    position: relative;
    z-index: 5;

    video {
      display: block;
      width: 100%;
      height: 75vh;
      max-height: rem(686);
      object-fit: cover;
    }
  }

  @media all and (min-width: $bp4) {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 0;
      margin: 0;
    }

    &__item {
      width: 100%;
      height: 100%;
      border: solid 1px #dcddde;
      padding: rem(55) rem(24);
      align-items: center;
      justify-content: center;
    }
  }

  @media all and (min-width: $bp3) {
    &__items {
      height: rem(250);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: rem(250) rem(250);
      overflow: visible;
    }

    &__item {
      border: none;

      &:nth-child(1) {
        border-right: 1px solid var(--sec-5);
        border-bottom: 1px solid var(--sec-5);
        border-left: 1px solid var(--sec-5);
      }

      &:nth-child(2) {
        border-bottom: 1px solid var(--sec-5);
      }

      &:nth-child(3) {
        border-right: 1px solid var(--sec-5);
        border-left: 1px solid var(--sec-5);
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        min-width: 33%;
      }

      &:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-bottom: 1px solid var(--sec-5);
      }
    }
  }

  @media all and (min-width: $bp1) {
    &__items {
      height: rem(327);
      grid-template-rows: rem(327) rem(327);
    }

    &__item {
      div {
        font-size: rem(128);
        line-height: rem(128);
      }
    }

    &__video {
      video {
        max-height: rem(830);
      }
    }
  }
}
