@import '../../variables.scss';

.VideoHorizontal {
  $s: &;
  @include containerMob;
  @include sectionMarginMob;
  margin-right: auto;
  margin-left: auto;

  &__video {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }

  @media all and (min-width: $bp3) {
    @include containerDesk;
  }
}
