@import '../../variables.scss';

.Picture {
  $s: &;
  @include containerMob;
  @include sectionMarginMob;

  &__picture {
    aspect-ratio: 16 / 9;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media all and (min-width: $bp3) {
    @include containerDesk;
  }
}
