@import '../../variables.scss';

$slide-height: 55vh;
$max-slide-height: rem(444);
$slide-width: 80vw;
$animation-duration: 3s;

.ProjectsTile {
  $s: &;
  height: $slide-height;
  max-height: $max-slide-height;

  &__container {
    position: relative;
  }

  &__items {
    position: relative;
    width: 100%;
    height: $slide-height;
    max-height: $max-slide-height;
    overflow: hidden;
    z-index: 10;

    &.animate {
      // prettier-ignore
      #{$s}__item {
        &:nth-child(2) {
          animation:  slide-2-left $animation-duration ease-in-out 0s 1 forwards,
                      slide-2-right 4.2s ease-in-out 9.9s 1 forwards;
        }

        &:nth-child(3) {
          animation:  slide-3-prepare 1.5s ease-out 1.5s 1 forwards,
                      slide-3-left $animation-duration ease-in-out 3s 1 forwards,
                      slide-3-right 3.8s ease-in-out 9.6s 1 forwards;
        }

        &:nth-child(4) {
          animation:  slide-4-prepare 1.5s ease-out 4.5s 1 forwards,
                      slide-4-left $animation-duration ease-in-out 6s 1 forwards,
                      slide-4-right 3.3s  ease-in-out 9.3s 1 forwards;
        }
      }
    }
  }

  &__item {
    width: $slide-width;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover;

    a {
      display: block;
      width: 100%;
      height: 100%;

      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: var(--sec-5);
        top: 0;
        left: 0;
        z-index: 100;
      }
    }

    &:nth-child(1) {
      left: 0;
      border-left: none;
    }

    &:nth-child(2) {
      left: $slide-width;
      z-index: 30;
    }

    &:nth-child(3) {
      z-index: 20;
      left: $slide-width;
    }

    &:nth-child(4) {
      width: 100vw;
      z-index: 10;
      left: $slide-width;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @keyframes slide-2-left {
    0% {
      z-index: 30;
      left: $slide-width;
    }

    100% {
      z-index: 30;
      left: 0;
    }
  }

  @keyframes slide-2-right {
    0% {
      z-index: 30;
      left: 0;
    }

    100% {
      z-index: 30;
      left: $slide-width;
    }
  }

  @keyframes slide-3-prepare {
    0% {
      z-index: 40;
      left: 100vw;
    }

    100% {
      z-index: 40;
      left: $slide-width;
    }
  }

  @keyframes slide-3-left {
    0% {
      z-index: 40;
      left: $slide-width;
    }

    100% {
      z-index: 40;
      left: 0;
    }
  }

  @keyframes slide-3-right {
    0% {
      z-index: 40;
      left: 0;
    }

    100% {
      z-index: 40;
      left: 100vw;
    }
  }

  @keyframes slide-4-prepare {
    0% {
      z-index: 50;
      left: 100vw;
    }

    100% {
      z-index: 50;
      left: $slide-width;
    }
  }

  @keyframes slide-4-left {
    0% {
      z-index: 50;
      left: $slide-width;
    }

    100% {
      z-index: 50;
      left: 0;
    }
  }

  @keyframes slide-4-right {
    0% {
      z-index: 50;
      left: 0;
    }

    100% {
      z-index: 50;
      left: 100vw;
    }
  }

  &__text {
    position: absolute;
    top: 81%;
    left: rem(16);
    transform: translateY(-68%);
    font-weight: var(--fw-medium);
    color: var(--prime-4);
  }

  &__num {
    font-family: var(--font-prime);
    font-size: rem(48);
    font-weight: var(--fw-medium);
    line-height: 1.16;
    margin-bottom: rem(24);
  }

  &__title {
    font-family: var(--font-sec);
    font-size: rem(30);
    line-height: 1.26;
  }

  &__images {
    display: none;
  }

  @media all and (min-width: $bp3) {
    $slide-width: 61vw;

    &__items {
      &.animate {
        // prettier-ignore
        #{$s}__item {
          &:nth-child(2) {
            animation:  slide-2-left $animation-duration ease-in-out 0s 1 forwards,
                        slide-2-right 3s ease-in-out 9s 1 forwards;
          }

          &:nth-child(3) {
            animation:  slide-3-left $animation-duration ease-in-out 3s 1 forwards,
                        slide-3-right 3s ease-in-out 9s 1 forwards;
          }

          &:nth-child(4) {
            animation:  slide-4-left $animation-duration ease-in-out 6s 1 forwards,
                        slide-4-right 3s ease-in-out 9s 1 forwards;
          }
        }
      }
    }

    &__item {
      width: 100vw;

      &:nth-child(2) {
        left: $slide-width;
      }

      &:nth-child(3) {
        z-index: 30;
        left: calc($slide-width + 13vw);
      }

      &:nth-child(4) {
        width: 100vw;
        z-index: 40;
        left: calc($slide-width + 26vw);
      }
    }

    &__text {
      left: rem(32);
    }

    @keyframes slide-2-left {
      0% {
        left: $slide-width;
      }

      100% {
        left: 0;
      }
    }

    @keyframes slide-2-right {
      0% {
        z-index: 30;
        left: 0;
      }

      100% {
        z-index: 30;
        left: $slide-width;
      }
    }

    @keyframes slide-3-left {
      0% {
        left: calc($slide-width + 13vw);
      }

      100% {
        left: 0;
      }
    }

    @keyframes slide-3-right {
      0% {
        left: 0;
      }

      100% {
        left: calc($slide-width + 13vw);
      }
    }

    @keyframes slide-4-left {
      0% {
        left: calc($slide-width + 26vw);
      }

      100% {
        left: 0;
      }
    }

    @keyframes slide-4-right {
      0% {
        left: 0;
      }

      100% {
        left: calc($slide-width + 26vw);
      }
    }
  }

  @media all and (min-width: $bp1) {
    $max-slide-height: rem(530);
    max-height: $max-slide-height;

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      position: relative;
      max-height: $max-slide-height;
    }

    &__item {
      position: static;
      overflow: hidden;

      a {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(0px);
          transition: none;
          animation: blur-out-animation 1s forwards;
        }

        &:hover::before {
          animation: blur-in-animation 1s forwards;
        }
      }

      // Блюр по ховеру через анимацию, поскольку браузеры не поддерживают transition для backdrop-filter
      @keyframes blur-in-animation {
        0% {
          backdrop-filter: blur(0px);
        }
        100% {
          backdrop-filter: blur(16px);
        }
      }

      @keyframes blur-out-animation {
        0% {
          backdrop-filter: blur(16px);
        }
        100% {
          backdrop-filter: blur(0px);
        }
      }

      &:nth-child(1) {
        width: 100%;

        #{$s}__picture img {
          object-position: 0 center;
        }
      }

      &:nth-child(2) {
        width: 100%;

        #{$s}__picture img {
          object-position: -25vw center;
        }
      }

      &:nth-child(3) {
        width: 100%;

        #{$s}__picture img {
          object-position: -50vw center;
        }
      }

      &:nth-child(4) {
        width: 100%;

        #{$s}__picture img {
          object-position: -75vw center;
        }
      }
    }

    &__text {
      top: 65%;
    }

    &__picture {
      position: absolute;

      img {
        transition: 1s;
      }

      &.hide img {
        opacity: 0;
        transition: 1s;
      }
    }

    &__images {
      width: 100%;
      height: $slide-height;
      max-height: $max-slide-height;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 1s;
      }

      &.show img {
        opacity: 3;
        transition: 1s;
      }
    }
  }
}
