@import '../../variables.scss';

@property --x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}

@property --y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}

.TextEffect {
  $s: &;

  --circle-1-big: 44px;
  --circle-2-big: 36px;
  --circle-3-big: 22px;
  --circle-1-small: calc(var(--circle-1-big) * 0.3);
  --circle-2-small: calc(var(--circle-2-big) * 0.3);
  --circle-3-small: calc(var(--circle-3-big) * 0.3);

  &__wrapper {
    position: relative;
    margin: rem(140) 0 rem(100) 0;
  }

  &__layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_first {
      position: relative;
      z-index: 20;
      background-color: var(--prime-1);
    }

    &_secondary {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      #{$s}__text {
        div {
          opacity: 1;

          span {
            background: linear-gradient(134.58deg, #73ccd2 14.79%, #9fcaf1 44.57%, #f8b7fa 100.22%, #deafdf 124.62%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(16);
    font-weight: 500;
    font-size: rem(32);
    line-height: 1.25;
    user-select: none;

    div {
      display: flex;
      opacity: 0;
      transition-duration: 3s;
      width: 100%;

      span {
        display: inline-block;
      }

      &:nth-child(1) {
        transform: translateX(-100%);

        span {
          transform: translateX(rem(-12));
        }
      }

      &:nth-child(2) {
        transform: translateX(100%);

        span {
          transform: translateX(rem(-12));
        }
      }

      &:nth-child(3) {
        transform: translateX(-100%);

        span {
          transform: translateX(rem(42));
          margin-left: auto;
        }
      }

      &:nth-child(4) {
        transform: translateX(100%);

        span {
          transform: translateX(rem(24));
        }
      }
    }
  }

  &__footnote {
    transform: translateX(100%);
    opacity: 0;
    transition-duration: 3s;
    margin-left: auto;
    width: 73%;
    font-weight: 300;
    font-size: rem(14);
    line-height: 1.57;
    font-family: var(--font-sec);
    text-align: left;
  }

  &__icon {
    position: absolute;
    opacity: 0;
    z-index: 30;
    transition-duration: 1s;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(1) {
      top: 14%;
      left: 97vw;
      width: var(--circle-1-small);
      height: var(--circle-1-small);
    }

    &:nth-child(2) {
      top: 42%;
      left: -1vw;
      width: var(--circle-2-small);
      height: var(--circle-2-small);
    }

    &:nth-child(3) {
      top: 83%;
      left: 27vw;
      width: var(--circle-3-small);
      height: var(--circle-3-small);
    }
  }

  &.animate {
    #{$s}__layer_first {
      --mask: radial-gradient(circle at var(--x) var(--y), transparent 75px, black 0);
      mask-image: var(--mask);
      -webkit-mask-image: var(--mask);
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      transition:
        --x 0.2s ease-out,
        --y 0.2s ease-out;
    }

    #{$s}__text {
      div {
        transform: none;
        opacity: 1;
        transition-duration: 3s;
      }
    }

    #{$s}__icon {
      opacity: 1;
      transition-duration: 3s;

      &:nth-child(1) {
        top: -18%;
        left: 85vw;
        width: var(--circle-1-big);
        height: var(--circle-1-big);
      }

      &:nth-child(2) {
        top: 72%;
        left: 4vw;
        transition-delay: 0.5s;
        transition-duration: 2.5s;
        width: var(--circle-2-big);
        height: var(--circle-2-big);
      }

      &:nth-child(3) {
        top: 100%;
        left: 17vw;
        transition-delay: 1s;
        transition-duration: 2s;
        width: var(--circle-3-big);
        height: var(--circle-3-big);
      }
    }

    #{$s}__footnote {
      transform: none;
      opacity: 1;
    }
  }

  @media all and (min-width: $bp4) {
    --circle-1-big: 80px;
    --circle-2-big: 65px;
    --circle-3-big: 40px;

    &__wrapper {
      margin: rem(156) 0 rem(150) 0;
    }

    &__text {
      font-weight: 500;
      font-size: rem(56);
      line-height: 1.3;
    }

    &__footnote {
      margin-right: rem(188);
      width: 34%;
      font-size: rem(16);
    }

    &.animate {
      #{$s}__layer_first {
        --mask: radial-gradient(circle at var(--x) var(--y), transparent 13vw, black 0);
      }
    }
  }

  @media all and (min-width: $bp2) {
    &__text {
      div:nth-child(1) span,
      div:nth-child(2) span {
        transform: translateX(rem(-45));
      }

      div:nth-child(3) span {
        transform: translateX(rem(45));
      }
    }
  }

  @media all and (min-width: $bp1) {
    --circle-1-big: clamp(122px, 7.6vw, 244px);
    --circle-2-big: clamp(100px, 6.25vw, 200px);
    --circle-3-big: clamp(60px, 3.75vw, 120px);

    &__wrapper {
      margin: rem(228) 0 rem(200) 0;
    }

    &__text {
      gap: rem(14);
      cursor: none;
      margin-bottom: rem(50);
      font-weight: 500;
      font-size: clamp(rem(88), 5.5vw, rem(200));
      line-height: 1.1;
    }

    &__footnote {
      margin-right: rem(275);
      margin-left: auto;
      width: 43%;
      font-weight: 300;
      font-size: clamp(rem(24), 1.5vw, rem(48));
      line-height: 1.3;
    }

    &__icon {
      &:nth-child(3) {
        top: 100%;
      }
    }

    &.animate {
      #{$s}__icon {
        &:nth-child(1) {
          top: -5%;
          left: 84vw;
        }

        &:nth-child(2) {
          top: 45%;
          left: 10vw;
        }

        &:nth-child(3) {
          top: 87%;
          left: 27vw;
        }
      }
    }
  }
}
