@import '../../variables.scss';

@property --x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}

@property --y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 50%;
}

.TextEffect {
  $s: &;
  position: relative;
  user-select: none;
  $circle-1-big: 45px;
  $circle-2-big: 36px;
  $circle-3-big: 22px;
  $circle-1-small: calc($circle-1-big * 0.3);
  $circle-2-small: calc($circle-2-big * 0.3);
  $circle-3-small: calc($circle-3-big * 0.3);

  &.animate {
    #{$s}__text {
      div {
        opacity: 1;
        transform: none;
      }
    }

    #{$s}__icon {
      &:nth-child(1) {
        width: $circle-1-big;
        height: $circle-1-big;
        top: -22%;
        left: 87%;
      }

      &:nth-child(2) {
        width: $circle-2-big;
        height: $circle-2-big;
        top: 67%;
        left: 5%;
      }

      &:nth-child(3) {
        width: $circle-3-big;
        height: $circle-3-big;
        top: 96%;
        left: 18%;
      }
    }

    #{$s}__footnote {
      transform: none;
      opacity: 1;
    }
  }

  &__wrapper {
    position: relative;
    margin: rem(140) 0 rem(100) 0;
  }

  &__layer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &_first {
      position: relative;
      z-index: 20;
      background-color: var(--prime-1);

      &.animate {
        --mask: radial-gradient(circle at var(--x) var(--y), transparent 75px, black 0);
        mask-image: var(--mask);
        -webkit-mask-image: var(--mask);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        transition: --x 0.2s ease-out, --y 0.2s ease-out;
      }
    }

    &_secondary {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      #{$s}__text {
        div {
          opacity: 1;

          span {
            background: linear-gradient(134.58deg, #73ccd2 14.79%, #9fcaf1 44.57%, #f8b7fa 100.22%, #deafdf 124.62%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
          }
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 16px;

    div {
      opacity: 0;
      transition: opacity 3s, transform 3s;
    }

    div:nth-child(1) {
      transform: translateX(-100%);

      span {
        display: block;
        transform: translateX(-12px);
      }
    }

    div:nth-child(2) {
      transform: translateX(100%);

      span {
        display: block;
        transform: translateX(-12px);
      }
    }

    div:nth-child(3) {
      margin-left: auto;
      transform: translateX(-100%);
    }

    div:nth-child(4) {
      transform: translateX(100%);
    }
  }

  &__footnote {
    margin-left: auto;
    width: 73%;
    font-family: var(--font-sec);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transform: translateX(100%);
    opacity: 0;
    transition: 3s;
  }

  &__icon {
    position: absolute;
    transition: 2s;
    z-index: 30;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &:nth-child(1) {
      width: $circle-1-small;
      height: $circle-1-small;
      top: 14%;
      left: 97%;
    }

    &:nth-child(2) {
      width: $circle-2-small;
      height: $circle-2-small;
      top: 42%;
      left: -1%;
      transition-delay: 0.5s;
    }

    &:nth-child(3) {
      width: $circle-3-small;
      height: $circle-3-small;
      top: 83%;
      left: 27%;
      transition-delay: 1s;
    }
  }

  @media all and (min-width: $bp4) {
    // padding: rem(157) rem(32) rem(140) rem(32);

    $circle-1-big: 80px;
    $circle-2-big: 65px;
    $circle-3-big: 40px;
    $circle-1-small: calc($circle-1-big * 0.3);
    $circle-2-small: calc($circle-2-big * 0.3);
    $circle-3-small: calc($circle-3-big * 0.3);

    &__wrapper {
      position: relative;
      margin: rem(156) 0 rem(150) 0;
    }

    &__text {
      font-size: 56px;
      font-weight: 500;
      line-height: 64px;
    }

    &__icon {
      &:nth-child(1) {
        width: $circle-1-small;
        height: $circle-1-small;
      }

      &:nth-child(2) {
        width: $circle-2-small;
        height: $circle-2-small;
      }

      &:nth-child(3) {
        width: $circle-3-small;
        height: $circle-3-small;
      }
    }

    &__footnote {
      width: 34%;
      margin-right: 124px;
    }

    &.animate {
      #{$s}__icon {
        &:nth-child(1) {
          width: $circle-1-big;
          height: $circle-1-big;
        }
        &:nth-child(2) {
          width: $circle-2-big;
          height: $circle-2-big;
        }
        &:nth-child(3) {
          width: $circle-3-big;
          height: $circle-3-big;
        }
      }
    }
  }

  @media all and (min-width: $bp3) {
    &__layer {
      &_first {
        &.animate {
          --mask: radial-gradient(circle at var(--x) var(--y), transparent 13vw, black 0);
        }
      }
    }

    &__text {
      div:nth-child(1) {
        span {
          display: block;
          transform: translateX(-45px);
        }
      }

      div:nth-child(2) {
        span {
          display: block;
          transform: translateX(-45px);
        }
      }

      div:nth-child(3) {
        span {
          display: block;
          transform: translateX(45px);
        }
      }
    }
  }
  @media all and (min-width: $bp1) {
    cursor: none;
    $circle-1-big: clamp(122px, 7.6vw, 244px);
    $circle-2-big: clamp(100px, 6.25vw, 200px);
    $circle-3-big: clamp(60px, 3.75vw, 120px);
    $circle-1-small: calc($circle-1-big * 0.3);
    $circle-2-small: calc($circle-2-big * 0.3);
    $circle-3-small: calc($circle-3-big * 0.3);

    &__icon {
      &:nth-child(3) {
        top: 100%;
      }
    }

    &.animate {
      #{$s}__icon {
        &:nth-child(1) {
          width: $circle-1-big;
          height: $circle-1-big;
          top: -5%;
          left: 84%;
        }
        &:nth-child(2) {
          width: $circle-2-big;
          height: $circle-2-big;
          top: 45%;
          left: 10%;
        }
        &:nth-child(3) {
          width: $circle-3-big;
          height: $circle-3-big;
          top: 87%;
          left: 27%;
        }
      }
    }

    &__wrapper {
      margin: rem(228) 0 rem(200) 0;
    }

    &__text {
      font-size: clamp(88px, 5.5vw, 200px);
      font-weight: 500;
      line-height: 1.1;
      gap: 14px;
      margin-bottom: 50px;
    }

    &__footnote {
      font-size: clamp(24px, 1.5vw, 48px);
      font-weight: 300;
      line-height: 1.3;
    }

    &__footnote {
      width: 43%;
      margin-right: 275px;
      margin-left: auto;
    }
  }
}
