@import '../../variables.scss';

.Intro2 {
  $s: &;
  position: relative;
  border-top: 2px solid var(--prime-2);
  margin: 0 rem(16) rem(48) rem(10);
  padding-top: rem(54);

  &__container {
    display: flex;
    flex-direction: column;
    font-weight: var(--fw-regular);
    width: 100%;
    gap: rem(32);
  }

  &__laba {
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__desc {
    font-size: rem(26);
    line-height: rem(34);
    letter-spacing: 0.3px;
  }

  @media all and (min-width: $bp4) {
    margin: 0 rem(16) rem(45) rem(16);
    padding-top: rem(87);

    &__container {
      gap: rem(30);
    }

    &__laba {
      width: 66%;
      font-size: rem(142);
      line-height: rem(114);
    }

    &__desc {
      line-height: rem(48);
      font-size: rem(40);
      line-height: rem(48);
      letter-spacing: 0;
      font-weight: var(--fw-medium);
    }
  }

  @media all and (min-width: $bp3) {
    margin: 0 rem(32) rem(45) rem(32);

    &__container {
      width: 66%;
      gap: rem(50);
    }

    &__laba {
      width: 100%;
    }

    &__desc {
      font-size: rem(40);
      line-height: rem(48);
    }
  }

  @media all and (min-width: $bp1) {
    padding-top: rem(100);
    border-top: 3px solid var(--prime-2);
    margin: 0 rem(32) rem(90) rem(32);

    &__container {
      flex-direction: row;
      align-items: flex-end;
      gap: 142px;
      width: 100%;
    }

    &__laba {
      width: 41%;
      margin-bottom: 0;
    }

    &__desc {
      width: 51%;
      font-size: rem(48);
      line-height: rem(56);
      transform: translateY(10px);
    }
  }
}
