@import '../../variables.scss';

.ProjectsTile5 {
  $s: &;
  $slide-width: 80vw;
  $slide-height: rem(444);

  height: $slide-height;
  $animation-duration: 3s;

  &__container {
    position: relative;
  }

  &__layer {
    display: none;

    &_bot {
      display: block;
    }
  }

  &__items {
    position: relative;
    z-index: 10;
    width: 100%;
    height: $slide-height;

    overflow: hidden;

    &.animate {
      #{$s}__item {
        &:nth-child(2) {
          animation:
            slide-2-left $animation-duration ease-in-out 0s 1 forwards,
            slide-2-right 4.2s ease-in-out 9.9s 1 forwards;
        }

        &:nth-child(3) {
          animation:
            slide-3-prepare 1.5s ease-out 1.5s 1 forwards,
            slide-3-left $animation-duration ease-in-out 3s 1 forwards,
            slide-3-right 3.8s ease-in-out 9.6s 1 forwards;
        }

        &:nth-child(4) {
          animation:
            slide-4-prepare 1.5s ease-out 4.5s 1 forwards,
            slide-4-left $animation-duration ease-in-out 6s 1 forwards,
            slide-4-right 3.3s ease-in-out 9.3s 1 forwards;
        }

        @keyframes slide-2-left {
          0% {
            left: $slide-width;
            z-index: 30;
          }
          100% {
            left: 0;
            z-index: 30;
          }
        }

        @keyframes slide-2-right {
          0% {
            left: 0;
            z-index: 30;
          }
          100% {
            left: $slide-width;
            z-index: 30;
          }
        }

        @keyframes slide-3-prepare {
          0% {
            left: 100vw;
            z-index: 40;
          }
          100% {
            left: $slide-width;
            z-index: 40;
          }
        }

        @keyframes slide-3-left {
          0% {
            left: $slide-width;
            z-index: 40;
          }
          100% {
            left: 0;
            z-index: 40;
          }
        }

        @keyframes slide-3-right {
          0% {
            left: 0;
            z-index: 40;
          }
          100% {
            left: 100vw;
            z-index: 40;
          }
        }

        @keyframes slide-4-prepare {
          0% {
            left: 100vw;
            z-index: 50;
          }
          100% {
            left: $slide-width;
            z-index: 50;
          }
        }

        @keyframes slide-4-left {
          0% {
            left: $slide-width;
            z-index: 50;
          }
          100% {
            left: 0;
            z-index: 50;
          }
        }

        @keyframes slide-4-right {
          0% {
            left: 0;
            z-index: 50;
          }
          100% {
            left: 100vw;
            z-index: 50;
          }
        }
      }
    }
  }

  &__item {
    position: absolute;
    top: 0;
    background-size: cover;
    width: $slide-width;
    height: 100%;

    &:nth-child(1) {
      left: 0;
      border-left: none;
    }

    &:nth-child(2) {
      left: $slide-width;
      z-index: 30;
    }

    &:nth-child(3) {
      left: $slide-width;
      z-index: 20;
    }

    &:nth-child(4) {
      left: $slide-width;
      z-index: 10;
      width: 100vw;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: var(--sec-5);
      width: 1px;
      height: 100%;
      content: '';
    }
  }

  &__text {
    position: absolute;
    top: 81%;
    left: rem(16);
    transform: translateY(-68%);
    color: var(--prime-4);
    font-weight: var(--fw-medium);
  }

  &__num {
    margin-bottom: rem(24);
    font-weight: var(--fw-medium);
    font-size: rem(48);
    line-height: 1.16;
    font-family: var(--font-prime);
  }

  &__title {
    font-size: rem(30);
    line-height: 1.26;
    font-family: var(--font-sec);
  }

  @media all and (min-width: $bp3) {
    $slide-width: 61vw;
    $animation-duration: 3.5s;

    &__items {
      &.animate {
        #{$s}__item {
          &:nth-child(2) {
            animation:
              slide-2-left $animation-duration ease-in-out 0s 1 forwards,
              slide-2-right 3.5s ease-in-out 10.5s 1 forwards;
          }

          &:nth-child(3) {
            animation:
              slide-3-left $animation-duration ease-in-out 3.5s 1 forwards,
              slide-3-right 3.5s ease-in-out 10.5s 1 forwards;
          }

          &:nth-child(4) {
            animation:
              slide-4-left $animation-duration ease-in-out 7s 1 forwards,
              slide-4-right 3.5s ease-in-out 10.5s 1 forwards;
          }

          @keyframes slide-2-left {
            0% {
              left: $slide-width;
            }
            100% {
              left: 0;
            }
          }

          @keyframes slide-2-right {
            0% {
              left: 0;
              z-index: 30;
            }
            100% {
              left: $slide-width;
              z-index: 30;
            }
          }

          @keyframes slide-3-left {
            0% {
              left: calc($slide-width + 13vw);
            }
            100% {
              left: 0;
            }
          }

          @keyframes slide-3-right {
            0% {
              left: 0;
            }
            100% {
              left: calc($slide-width + 13vw);
            }
          }

          @keyframes slide-4-left {
            0% {
              left: calc($slide-width + 26vw);
            }
            100% {
              left: 0;
            }
          }

          @keyframes slide-4-right {
            0% {
              left: 0;
            }
            100% {
              left: calc($slide-width + 26vw);
            }
          }
        }
      }
    }

    &__item {
      width: 100vw;

      &:nth-child(2) {
        left: $slide-width;
      }

      &:nth-child(3) {
        left: calc($slide-width + 13vw);
        z-index: 30;
      }

      &:nth-child(4) {
        left: calc($slide-width + 26vw);
        z-index: 40;
        width: 100vw;
      }
    }

    &__text {
      left: rem(32);
    }
  }

  @media all and (min-width: $bp2) {
    $slide-height: rem(530);
    height: $slide-height;

    &__container {
      height: $slide-height;
    }

    &__layer {
      display: block;
      position: relative;
      width: 100%;
      height: $slide-height;

      &_bot {
        display: none;
        // position: absolute;
        // top: 0;
        // left: 0;
        // z-index: 10;
      }

      &_mid {
        top: 0;
        left: 0;
        z-index: 20;
      }

      &_top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
        width: 100%;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: $slide-height;
      max-height: 100%;
    }

    &__item {
      position: static;
      background-size: 100vw auto;
      background-repeat: no-repeat;
      background-origin: border-box;
      height: $slide-height;
      overflow: hidden;

      &:nth-child(1) {
        background-position: 0 center;
        width: 100%;
      }

      &:nth-child(2) {
        background-position: 37.5% center;
        width: 100%;
      }

      &:nth-child(3) {
        background-position: 62.5% center;
        width: 100%;
      }

      &:nth-child(4) {
        background-position: 100% center;
        width: 100%;
      }
    }

    @mixin clip-animation-initial {
      z-index: 10;
      clip-path: inset(0 0 0 0);
    }

    &__images {
      &.active1 #{$s}__image:nth-child(1) {
        z-index: 10;
        animation: slide-mask-1 1s linear forwards;
      }
      &.active2 #{$s}__image:nth-child(2) {
        z-index: 10;
        animation: slide-mask-2 1s linear forwards;
      }

      &.active3 #{$s}__image:nth-child(3) {
        z-index: 10;
        animation: slide-mask-3 1s linear forwards;
      }

      &.active4 #{$s}__image:nth-child(4) {
        z-index: 10;
        animation: slide-mask-4 1s linear forwards;
      }
    }

    @keyframes slide-mask-1 {
      0% {
        mask-image: linear-gradient(to right, black 25%, transparent 25.1%);
        -webkit-mask-image: linear-gradient(to right, black 25%, transparent 25.1%);
      }
      50% {
        mask-image: linear-gradient(to right, black 50%, transparent 50.1%);
        -webkit-mask-image: linear-gradient(to right, black 50%, transparent 50.1%);
      }
      100% {
        mask-image: linear-gradient(to right, black 100%, transparent 100%);
        -webkit-mask-image: linear-gradient(to right, black 100%, transparent 100%);
      }
    }

    @keyframes slide-mask-2 {
      0% {
        mask-image: linear-gradient(to right, black 50%, transparent 50.1%);
        -webkit-mask-image: linear-gradient(to right, black 50%, transparent 50.1%);
      }
      50% {
        mask-image: linear-gradient(to right, black 75%, transparent 75.1%);
        -webkit-mask-image: linear-gradient(to right, black 75%, transparent 75.1%);
      }
      100% {
        mask-image: linear-gradient(to right, black 100%, transparent 100%);
        -webkit-mask-image: linear-gradient(to right, black 100%, transparent 100%);
      }
    }

    @keyframes slide-mask-3 {
      0% {
        mask-image: linear-gradient(to right, transparent 50%, black 75%, transparent 75.1%);
        -webkit-mask-image: linear-gradient(to right, transparent -100%, black 75%, transparent 75.1%);
      }

      100% {
        mask-image: linear-gradient(to right, black 100%, transparent 100%);
        -webkit-mask-image: linear-gradient(to right, black 100%, transparent 100%);
      }
    }

    @keyframes slide-mask-4 {
      0% {
        mask-image: linear-gradient(to right, transparent 75%, black 100%);
        -webkit-mask-image: linear-gradient(to right, transparent 75%, black 100%);
      }

      100% {
        mask-image: linear-gradient(to right, transparent 75%, black 100%);
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 0%);
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateZ(0);
      opacity: 1;
      z-index: 5;
      transition: 1s;
      transition-timing-function: ease;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      height: $slide-height;

      &:nth-child(1) {
        z-index: 4;
        mask-image: linear-gradient(to right, black 25%, transparent 25.1%);
        -webkit-mask-image: linear-gradient(to right, black 25%, transparent 25.1%);
        background-image: url('/src/assets/images/project-tile-1.png');
      }

      &:nth-child(2) {
        z-index: 3;
        mask-image: linear-gradient(to right, transparent 0, black 50%, transparent 50.1%);
        -webkit-mask-image: linear-gradient(to right, transparent -100%, black 50%, transparent 50.1%);
        background-image: url('/src/assets/images/project-tile-2.png');
      }

      &:nth-child(3) {
        z-index: 2;
        mask-image: linear-gradient(to right, transparent 50%, black 75%, transparent 75.1%);
        -webkit-mask-image: linear-gradient(to right, transparent -100%, black 75%, transparent 75.1%);
        background-image: url('/src/assets/images/project-tile-3.png');
      }

      &:nth-child(4) {
        z-index: 1;
        mask-image: linear-gradient(to right, transparent 75%, black 100%);
        -webkit-mask-image: linear-gradient(to right, transparent -100%, black 100%);
        background-image: url('/src/assets/images/project-tile-4.png');
      }
    }

    &__link {
      position: relative;

      &_bot {
        display: none;
      }

      &::before {
        position: absolute;
        backdrop-filter: blur(0px);
        animation: blur-out-animation 1s forwards;
        transition: none;
        width: 100%;
        height: 100%;
        content: '';
      }

      &:hover::before {
        animation: blur-in-animation 1s forwards;
      }

      // Блюр по ховеру через анимацию, поскольку браузеры не поддерживают transition для backdrop-filter
      @keyframes blur-in-animation {
        0% {
          backdrop-filter: blur(0px);
        }
        100% {
          backdrop-filter: blur(16px);
        }
      }

      @keyframes blur-out-animation {
        0% {
          backdrop-filter: blur(16px);
        }
        100% {
          backdrop-filter: blur(0px);
        }
      }
    }

    &__text {
      top: 65%;
    }

    &__images {
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      height: $slide-height;
    }
  }
}
