@import '../../variables.scss';

.Header {
  $s: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: ease 0.4s;
  width: 100%;
  height: 46px;

  @media all and (min-width: $bp4) {
    height: 48px;
  }

  @media all and (min-width: $bp1) {
    height: 56px;
  }

  @media all and (min-width: $bp) {
    height: 70px;
  }

  @media all and (min-width: 2560px) {
    height: 91px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: 0.3s;
    background: var(--prime-1);
    height: 100%;
    overflow: hidden;
  }

  &__top {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    padding: rem(8) 0 rem(16) 0;
  }

  &__desc {
    display: none;
    font-size: rem(15);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__toggle {
    position: relative;
    width: rem(62);
    min-height: rem(18);

    span {
      position: absolute;
      transition: all 0.5s;
      background-color: var(--prime-2);
      width: 100%;
      height: rem(2);

      &:first-child {
        top: 0;
        right: 0;
        left: auto;
      }

      &:nth-child(2) {
        top: 50%;
        right: 0;
        left: 0;
      }

      &:last-child {
        top: 100%;
        right: auto;
        left: 0;
      }
    }

    &:hover {
      span {
        transition: all 0.5s;
        width: rem(5);
        height: rem(5);

        &:first-child {
          top: 50%;
          right: rem(12);
          left: auto;
        }

        &:nth-child(2) {
          top: 50%;
          right: 50%;
          left: 50%;
        }

        &:last-child {
          top: 50%;
          right: auto;
          left: rem(17);
        }
      }
    }

    /* Сброс ховера для сенсорных устройств */
    @media (hover: none) and (pointer: coarse) {
      &:hover {
        span {
          position: absolute;
          transition: all 0.5s;
          background-color: var(--prime-2);
          width: 100%;
          height: rem(2);

          &:first-child {
            top: 0;
            right: 0;
            left: auto;
          }

          &:nth-child(2) {
            top: 50%;
            right: 0;
            left: 0;
          }

          &:last-child {
            top: 100%;
            right: auto;
            left: 0;
          }
        }
      }
    }

    &:hover {
      span {
        transition: all 0.5s;
        width: rem(5);
        height: rem(5);

        &:first-child {
          top: 50%;
          right: rem(12);
          left: auto;
        }

        &:nth-child(2) {
          top: 50%;
          right: 50%;
          left: 50%;
        }

        &:last-child {
          top: 50%;
          right: auto;
          left: rem(17);
        }
      }
    }
  }

  &__inner {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    animation: slideDown 0.5s ease-out forwards;
    padding: 0 rem(16) rem(16) rem(16);
    height: 100%;
    min-height: rem(726);

    &::before {
      position: absolute;
      top: 0;
      right: rem(-150);
      transform: scaleX(-1);
      background-image: url(/src/assets/images/header-menu.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      width: rem(530);
      height: rem(454);
      content: '';
    }
  }

  nav {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    padding-top: rem(60);
    padding-bottom: rem(16);
    overflow: hidden;
    color: var(--prime-1);

    li:not(:last-child) {
      margin-bottom: rem(32);
    }

    a {
      display: inline-block;
      position: relative;
      transition: color 0.3s;
      font-size: rem(40);
      line-height: rem(38.6);

      &:hover {
        color: var(--prime-3);
      }

      &::before {
        position: absolute;
        bottom: rem(-12);
        left: 0;
        transform: translateX(rem(-10));
        opacity: 0;
        z-index: 20;
        transition: all 0.5s ease-in-out;
        background-color: var(--prime-3);
        width: 0;
        height: rem(2);
        content: '';
      }

      &.active {
        &:hover {
          color: var(--prime-1);
        }

        &::before {
          transform: translateX(0);
          opacity: 1;
          transition: 0.3s;
          width: rem(95);
        }
      }
    }
  }

  &__links {
    display: flex;
    align-self: flex-end;
    gap: rem(20);
    opacity: 0.6;
    z-index: 20;
    margin-top: auto;
    margin-bottom: rem(16);
    color: var(--prime-1);
    font-weight: var(--fw-light);
    font-family: var(--font-sec);

    a {
      display: block;
      transition: color 0.3s;

      &:hover {
        color: var(--prime-3);
      }
    }
  }

  &__contacts {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    color: var(--prime-1);
    font-weight: var(--fw-light);
    font-family: var(--font-sec);

    a {
      display: block;
      opacity: 0.6;
      transition: color 0.3s;
      font-size: rem(16);
      line-height: rem(24);

      &:hover {
        color: var(--prime-3);
      }

      &#{$s}__mail {
        margin: 0 0 rem(16) 0;
        font-size: rem(24);
        line-height: rem(32);
      }

      &#{$s}__tel {
        margin: 0 0 rem(4) 0;
      }
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(rem(-50));
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(rem(-50));
      opacity: 0;
    }
  }

  &__container.active {
    position: relative;
    z-index: 30;
    background-color: var(--prime-2);
    height: 100vh;
    color: var(--prime-1);

    #{$s}__top {
      border-bottom: 2px solid var(--prime-1);
    }

    #{$s}__logo img {
      filter: invert(1) grayscale(1) brightness(1000%);
    }

    #{$s}__toggle {
      span {
        top: auto;
        bottom: auto;
        background-color: var(--prime-1);

        &:first-child,
        &:last-child {
          width: rem(32);
          height: 0.125rem;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:first-child {
          top: 50%;
          right: rem(15);
          left: auto;
          transform: translateY(-50%) rotate(-30deg);
        }

        &:last-child {
          top: 50%;
          right: auto;
          left: rem(15);
          transform: translateY(-50%) rotate(30deg);
        }
      }

      &:hover {
        span {
          &:first-child {
            transform: translateY(-50%) rotate(30deg);
          }
          &:last-child {
            transform: translateY(-50%) rotate(-30deg);
          }
        }
      }

      /* Сброс ховера для сенсорных устройств */
      @media (hover: none) and (pointer: coarse) {
        &:hover {
          span {
            &:first-child {
              top: 50%;
              right: rem(15);
              left: auto;
              transform: translateY(-50%) rotate(-30deg);
            }

            &:last-child {
              top: 50%;
              right: auto;
              left: rem(15);
              transform: translateY(-50%) rotate(30deg);
            }
          }
        }
      }
    }

    #{$s}__inner {
      display: flex;
      flex-grow: 1;
    }
  }

  @media all and (min-width: $bp4) {
    &__top {
      padding: rem(12) 0 rem(16) 0;
    }

    &__inner::before {
      right: 0;
    }
  }

  // Адаптация для tablet
  @media all and (min-width: $bp3) {
    &__top {
      padding: rem(12) 0 rem(16) 0;
    }

    &__inner {
      padding: 0 rem(32) rem(32) rem(32);
      min-height: 100vh;

      &::before {
        top: rem(155);
        right: auto;
        left: rem(-189);
        transform: scaleX(1);
        width: rem(962);
        height: rem(826);
      }
    }

    nav {
      padding: rem(200) 0 0 49.5%;
    }

    &__desc {
      display: block;
    }
  }

  // Адаптация для desktop
  @media all and (min-width: $bp1) {
    &__top {
      padding: rem(20) 0 rem(16) 0;
    }

    &__inner {
      position: relative;
      min-height: 95vh;
      max-height: rem(1024);

      &::before {
        top: rem(59);
        left: rem(-43);
      }
    }

    &__container.active {
      #{$s}__top {
        border-bottom: 3px solid var(--prime-1);
      }
    }
    nav {
      padding: rem(195) 0 1rem 49.5%;
    }

    &__links {
      position: absolute;
      top: rem(24);
      right: rem(30);
      gap: rem(50);
    }

    &__contacts {
      a {
        opacity: 0.6;
        transition: 0.3s;

        &:hover {
          opacity: 1;
          color: var(--prime-1);
        }
      }
    }
  }
}
