.main-tool-bar {
    height: 65px;
    background: var(--prime-1);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;
    z-index: 9999;

    &--scrolled {
        height: 40px;
    }
}