@import '../../variables.scss';

.Partners {
  $s: &;
  --circle-1: 42px;
  --circle-2: 23px;

  margin: rem(32) 0 rem(80) 0;
  position: relative;

  &__text {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
    font-size: clamp(48px, 12.8vw, 84px);
    font-weight: var(--fw-medium);
    line-height: 1;
    text-align: left;
    padding: 0 16px;
    position: relative;
    z-index: 10;

    div {
      opacity: 0;

      &:nth-child(1) {
        align-self: flex-start;
      }

      &:nth-child(2) {
        align-self: flex-end;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: 2.5s;

    &:nth-child(1) {
      width: var(--circle-1);
      height: var(--circle-1);
      left: 78%;
      top: 13%;
    }

    &:nth-child(2) {
      width: var(--circle-2);
      height: var(--circle-2);
      top: 54%;
      left: 6%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__swiper {
    padding: 0 rem(16);
  }

  &__slide {
    height: rem(182);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 242, 245, 0.65);
    border: 1px solid #dcddde;
    backdrop-filter: blur(20px);
  }

  &__img {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16);
    margin: rem(24) 0;
  }

  &__bullet {
    display: inline-block;
    width: rem(8);
    height: rem(8);
    background-color: var(--prime-3);
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &_active {
      background-color: var(--sec-3);
      cursor: initial;
    }
  }

  &__rows {
    margin: rem(70) 0;
    display: flex;
    flex-direction: column;
    gap: rem(24);
    overflow: hidden;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  &__row {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: rem(112);

    &:nth-child(odd) #{$s}__track {
      direction: rtl;
    }
  }

  &__track {
    display: flex;
    gap: rem(32);
    width: 100%;
  }

  &__item {
    flex-shrink: 0;
    width: rem(216);
    height: rem(112);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 242, 245, 0.65);
    border: 1px solid #dcddde;
    backdrop-filter: blur(20px);
  }

  &__picture {
    width: 80%;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  // Для ленты
  @keyframes partners-entry-first {
    0% {
      opacity: 0;
      transform: translateX(-80%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes partners-scroll-first {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes partners-entry-second {
    0% {
      opacity: 0;
      transform: translateX(80%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes partners-scroll-second {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes partners-circle-scale {
    0% {
      transform: scale(1);
    }
    100% {
    }
  }

  &.animate {
    #{$s}__icon {
      &:nth-child(1) {
        transform: scale(3.95);
      }

      &:nth-child(2) {
        transform: scale(3.95);
      }
    }

    #{$s}__text div {
      opacity: 1;
      transform: none;
      width: 100%;

      // animation: name duration timing-function delay iteration-count direction fill-mode play-state;

      &:nth-child(1) {
        animation: partners-entry-first 2.5s ease-in-out forwards;
      }

      &:nth-child(2) {
        animation: partners-entry-second 2.5s ease-in-out forwards;
      }
    }

    #{$s}__row {
      &:nth-child(odd) #{$s}__track {
        animation: partners-entry-first 2.5s ease-in-out forwards, partners-scroll-first 40s linear 2.5s infinite;
      }

      &:nth-child(even) #{$s}__track {
        animation: partners-entry-second 2.5s ease-in-out forwards, partners-scroll-second 40s linear 2.5s infinite;
      }
    }
  }

  @media all and (min-width: $bp4) {
    margin: rem(186) 0 rem(54) 0;

    &__text {
      margin-bottom: 50px;
      font-size: clamp(84px, 8vw, 128px);
      text-transform: uppercase;
    }

    &__icon {
      &:nth-child(1) {
        left: 72%;
        top: 20%;
      }

      &:nth-child(2) {
        top: 61%;
        left: 18%;
      }
    }

    &.animate {
      #{$s}__icon {
        &:nth-child(1) {
          transform: scale(8.2);
        }

        &:nth-child(2) {
          transform: scale(8.2);
        }
      }
    }
  }

  @media all and (min-width: $bp0) {
    margin: rem(220) 0 rem(54) 0;

    &__text {
      font-size: clamp(128px, 8vw, 211px);
      margin-bottom: 130px;
    }

    &__row {
      height: rem(182);
    }

    &__item {
      width: rem(361);
      height: rem(182);
    }

    &__rows {
      gap: rem(40);
    }
    &__track {
      gap: rem(40);
    }

    &__icon {
      &:nth-child(1) {
        left: 74%;
        top: 23%;
      }

      &:nth-child(2) {
        top: 77%;
        left: 14%;
      }
    }

    &__picture {
      width: 77%;
    }

    &.animate {
      #{$s}__icon {
        &:nth-child(1) {
          transform: scale(12.2);
        }

        &:nth-child(2) {
          transform: scale(12.2);
        }
      }
    }
  }
}
