@import '../../variables.scss';

.Intro {
  $s: &;
  position: relative;

  &.active {
    position: relative;
    height: 100vw;
    min-height: rem(550);
    z-index: 100;
    margin-top: -5px;

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }

    #{$s}__company {
      padding-top: rem(80);
      color: white;
      border-top: none;
    }

    #{$s}__laba {
      img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }

    @media all and (min-width: $bp4) {
      #{$s}__circle {
        top: rem(240);
        right: rem(32);
      }
    }

    @media all and (min-width: $bp0) {
      #{$s}__circle {
        top: rem(40);
      }
    }
  }

  &__circle {
    display: none;
  }

  &__company {
    margin-right: rem(16);
    margin-left: rem(10);
    padding-top: rem(40);
    margin-bottom: rem(40);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    font-weight: var(--fw-regular);

    span:last-child {
      align-self: flex-end;
      font-size: rem(30);
      line-height: rem(36);
    }
  }

  &__laba {
    flex-shrink: 1;
    margin-bottom: rem(18);
    width: 100%;

    img {
      width: 100%;
      height: auto;

      &:nth-child(1) {
        display: block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  video {
    display: block;
    width: 100%;
    height: 100vw;
    min-height: rem(450);
    object-fit: cover;
  }

  @media all and (min-width: $bp5) {
    &__company {
      flex-direction: row;
      gap: rem(24);

      span:last-child {
        align-self: baseline;
      }
    }

    &__laba {
      margin-bottom: rem(18);
      width: 45%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  @media all and (min-width: $bp4) {
    &__circle {
      display: flex;
      position: absolute;
      top: rem(380);
      right: rem(32);
      height: rem(186);
      width: rem(186);
    }

    &__company {
      gap: rem(30);

      span:first-child {
        font-size: rem(142);
        line-height: rem(114);
      }

      span:last-child {
        line-height: rem(48);
        font-size: rem(40);
        line-height: rem(48);
      }
    }

    video {
      height: 80vw;
    }
  }

  @media all and (min-width: $bp3) {
    &__company {
      flex-direction: row;
      gap: rem(40);
      margin-left: rem(30);
      margin-right: rem(30);
      padding-top: rem(90);
    }

    &__brief {
      display: flex;
      margin-left: rem(30);
      margin-right: rem(30);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media all and (min-width: $bp2) {
    video {
      height: 75vh;
      max-height: rem(1024);
    }
  }

  @media all and (min-width: $bp1) {
    &__circle {
      height: rem(250);
      width: rem(250);
    }
  }

  @media all and (min-width: $bp0) {
    &__company {
      padding-top: rem(80);
    }

    &__laba {
      width: 30%;
    }

    video {
      max-height: rem(1440);
    }
  }
}
