@import '../../variables.scss';

.Intro {
  $s: &;
  position: relative;

  &.active {
    position: relative;
    height: 95vh;

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }

    #{$s}__company {
      padding-top: rem(80);
      color: white;
      border-top: none;
    }
  }

  &__company {
    margin-right: rem(16);
    margin-left: rem(10);
    padding-top: rem(40);
    margin-bottom: rem(40);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    font-weight: var(--fw-regular);
    border-top: 2px solid var(--prime-2);

    span:first-child {
      align-self: flex-start;
      font-size: rem(108);
      line-height: rem(108);
    }

    span:last-child {
      align-self: flex-end;
      font-size: rem(30);
      line-height: rem(36);
    }
  }

  video {
    display: block;
    width: 100%;
    height: 100vw;
    object-fit: cover;
  }

  @media all and (min-width: $bp4) {
    &__company {
      gap: rem(30);

      span:first-child {
        font-size: rem(142);
        line-height: rem(114);
      }

      span:last-child {
        line-height: rem(48);
        font-size: rem(40);
        line-height: rem(48);
      }
    }

    video {
      height: 80vw;
    }
  }

  @media all and (min-width: $bp3) {
    &__company {
      flex-direction: row;
      gap: rem(40);
      margin-left: rem(30);
      margin-right: rem(30);
    }

    &__brief {
      display: flex;
      margin-left: rem(30);
      margin-right: rem(30);
    }

    video {
      height: 75vh;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
