@import '../../variables.scss';

.Service {
  &__counting {
    position: relative;
    margin: rem(48) rem(16);
    display: flex;
    flex-direction: column;
    row-gap: rem(56);

    span {
      font-size: rem(14);
      line-height: rem(22);
      font-family: var(--font-sec);
      font-weight: var(--fw-light);
    }
  }

  &__first,
  &__second {
    display: flex;
    flex-direction: column;
    row-gap: rem(56);
  }

  &__countingItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: rem(4);
    z-index: 1;
    background-color: var(--prime-1);

    div:first-child {
      display: flex;
      align-self: center;
      font-family: var(--font-prime);
      font-size: rem(88);
      font-weight: var(--fw-medium);
      line-height: rem(90);
    }
  }

  &__video video {
    display: block;
    width: 100%;
    min-height: 80vh;
    object-fit: cover;
  }

  @media all and (min-width: $bp4) {
    &__counting {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 0;
      margin: 0;
    }

    &__countingItem {
      width: 100%;
      height: 100%;
      border: solid 1px #dcddde;
      align-items: center;
      justify-content: center;
      padding: 55px 24px;
    }
  }

  @media all and (min-width: $bp3) {
    &__counting {
      height: rem(250);
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: rem(250) rem(250);
    }

    &__countingItem {
      border: none;

      &:nth-child(1) {
        border-right: 1px solid var(--sec-5);
        border-bottom: 1px solid var(--sec-5);
        border-left: 1px solid var(--sec-5);
      }

      &:nth-child(2) {
        border-bottom: 1px solid var(--sec-5);
      }

      &:nth-child(3) {
        border-right: 1px solid var(--sec-5);
        border-left: 1px solid var(--sec-5);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        min-width: 33%;
      }

      &:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        border-bottom: 1px solid var(--sec-5);
      }
    }
  }
}
