@import '../../variables.scss';

.Gallery {
  $s: &;

  &__items {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__item {
    width: 100%;
    height: 100vw;
    display: flex;
    align-items: flex-end;

    a {
      overflow: hidden;
      position: relative;
      display: block;
      color: white;
      width: 100%;
      height: 100%;

      &:hover video {
        filter: brightness(30%);
      }
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: filter 0.4s ease;
      filter: brightness(70%);
    }

    h2 {
      position: absolute;
      bottom: rem(16);
      left: rem(16);
      right: rem(16);
      z-index: 10;

      span {
        display: inline-block;

        &:first-child {
          font-weight: var(--fw-medium);
          font-size: rem(24);
          line-height: rem(32);
          color: var(--prime-1);
        }

        &:last-child {
          color: var(--sec-5);
          font-family: var(--font-sec);
          font-size: rem(14);
          line-height: rem(17);
          font-weight: var(--fw-light);
          border-left: 1px solid var(--sec-5);
          padding-left: rem(6);
        }
      }
    }
  }

  @media all and (min-width: $bp4) {
    &__items {
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      height: 50vw;

      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(6) {
        order: 5;
      }
    }
  }

  // Адаптация для tablet
  @media all and (min-width: $bp3) {
    &__item a {
      h2 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 42px;
      }

      span {
        &:first-child {
          opacity: 0;
          max-width: 0;
          transform: translateX(rem(-20));
          transition: margin 1s ease, max-width 1s ease-in, transform 0.2s ease, opacity 0.3s ease-out;
        }

        &:last-child {
          align-self: flex-end;
          max-width: 100%;
        }
      }

      &:hover {
        span {
          &:first-child {
            max-width: 49%;
            opacity: 1;
            transform: none;
            transition: margin 1s ease, max-width 1s ease-out, transform 1s ease 1s, opacity 1s ease-out 1s;
            margin-right: rem(10);
          }

          &:last-child {
            max-width: 49%;
            align-self: center;
          }
        }
      }
    }
  }
  // Адаптация для desktop
  @media all and (min-width: $bp1) {
    &__items {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__item {
      height: 33vw;

      &:nth-child(3),
      &:nth-child(6) {
        order: initial;
      }
    }
  }
}
