@import '../../variables.scss';

.AboutList {
  $s: &;

  &__title {
    padding: rem(80) rem(16) rem(48) rem(24);
    font-size: rem(40);
    line-height: rem(48);
  }

  &__item {
    border-top: 1px solid var(--sec-5);

    &:nth-child(even) {
      #{$s}__header {
        transform: translateX(100%);

        &.animate {
          transform: translateX(0);
        }
      }
    }

    &.animate {
      video {
        opacity: 1;
      }
    }
  }

  &__text {
    padding: rem(24);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: rem(16);
    font-family: var(--font-sec);
    font-weight: var(--fw-light);
    margin-bottom: rem(24);
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.6s ease-in-out 0.5s, transform 2s ease-in-out;

    &.animate {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__num {
    max-width: 12%;
    height: rem(53);
    flex-shrink: 0;

    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__subtitle {
    font-size: rem(24);
    line-height: rem(32);
    align-self: center;
  }

  &__desc {
    font-size: rem(16);
    line-height: rem(24);
    font-family: var(--font-sec);
    font-weight: var(--fw-light);
    opacity: 0;
    transition: opacity 2s ease-in-out 1s;

    &.animate {
      opacity: 1;
    }
  }

  &__video {
    height: rem(160);
    overflow: hidden;
    border-top: 1px solid var(--sec-5);

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
  }

  @media all and (min-width: $bp4) {
    &__title {
      padding: rem(80) rem(32) rem(48) rem(32);
      font-size: rem(56);
      line-height: rem(64);
    }

    &__item {
      display: flex;
      justify-content: space-between;
      min-height: rem(272);
      border-top: none;
      border-bottom: 1px solid var(--sec-5);

      #{$s}__text {
        border-right: 1px solid var(--sec-5);
      }

      &:first-child {
        #{$s}__text {
          border-top: 1px solid var(--sec-5);
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        #{$s}__text {
          border-right: none;
          border-left: 1px solid var(--sec-5);
        }
      }

      &:last-child {
        border-bottom: none;

        #{$s}__text {
          border-bottom: 1px solid var(--sec-5);
        }

        #{$s}__img {
          height: auto;
        }
      }
    }

    &__header {
      gap: rem(32);
      margin-bottom: rem(32);
    }

    &__text {
      width: 60%;
      padding: rem(32);
    }

    &__num {
      height: rem(70);
    }

    &__subtitle {
      font-size: rem(32);
      line-height: 1.1;
    }

    &__video {
      width: 40%;
      height: auto;
      border-top: none;
    }
  }

  // Адаптация для tablet
  @media all and (min-width: $bp3) {
    &__subtitle {
      font-family: var(--font-prime);
      font-weight: var(--fw-medium);
      font-size: rem(32);
      line-height: rem(40);
    }

    &__desc {
      font-size: rem(24);
      line-height: rem(32);
    }
  }

  // Адаптация для desktop
  @media all and (min-width: $bp1) {
    &__item {
      height: rem(346);
    }

    &__title {
      padding: rem(154) rem(48) rem(64) rem(48);
      font-size: rem(88);
      line-height: rem(96);
    }

    &__text {
      width: 50%;
      padding: rem(64);
    }

    &__subtitle {
      font-family: var(--font-sec);
      font-weight: var(--fw-light);
      font-size: rem(50);
      line-height: rem(45);
    }

    &__video {
      width: 50%;
    }
  }
}
