@import './variables.scss';

/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Roboto Mono моноширинный шрифт для компонента CircleText */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Gella Display */
@font-face {
  font-family: 'GellaDisplay';
  src: url(./assets/fonts/GellaDisplay/GellaDisplay-ExpandedMedium.otf) format('opentype'), url(../assets/fonts/GellaDisplay/GellaDisplay-ExpandedMedium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GellaDisplay';
  src: url(./assets/fonts/GellaDisplay/GellaDisplay-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

:root {
  /* Colors */
  --prime-1: #f0f2f5;
  --prime-2: #27292f;
  --prime-3: #75bbfd;
  --sec-1: #fb6a6a;
  --sec-2: #ffc774;
  --sec-3: #525459;
  --sec-4: #939497;
  --sec-5: #dcddde;

  /* Fonts */
  --font-prime: 'GellaDisplay', sans-serif;
  --font-sec: 'Ubuntu', sans-serif;
  --font-extra: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 700;
}

#root {
  overflow: hidden;
}

// это нужно для контейнера gsap который расчитывает высоту нашего макета и на этой высоте работает тяжелый скрол, если мы это уберём то наш footer не показывается полностью. я добавл отступ сверху для того, чтоб gsap расчитывал высоту чуть больше. напиши мне если будет как-то не корректно работать =)
#smooth-content {
  padding-top: 46px;
  /* Добавляет отступ снизу для Footer */

  @media all and (min-width: $bp4) {
    padding-top: 48px;
  }

  @media all and (min-width: $bp1) {
    padding-top: 58px;
  }

  @media all and (min-width: $bp) {
    padding-top: 73px;
  }

  @media all and (min-width: 2560px) {
    padding-top: 94px;
  }
}

main {
  min-height: 100%;
}

html {
  $s: &;
  font-size: 16px;
  /* Уменьшение толщины полосы прокрутки в Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
  /* Убирает подсветку при таче */
  -webkit-tap-highlight-color: transparent;

  @media all and (min-width: $bp) {
    font-size: 20px;
  }

  @media all and (min-width: 2560px) {
    font-size: 26px;
  }
}

/* Уменьшение толщины полосы прокрутки для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Толщина вертикальной полосы прокрутки */
  height: 8px; /* Толщина горизонтальной полосы прокрутки */
}

/* Стилизация ползунка */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/* Стилизация фона полосы прокрутки */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Убираем стандартный фокус на сенсорных экранах */
@media (pointer: coarse) {
  button:focus,
  a:focus {
    outline: none;
    box-shadow: none;
  }
}

body {
  font-family: var(--font-prime);
  color: var(--prime-2);
  background-color: var(--prime-1);
  min-height: 100vh;
}

/* Сброс стилей */
html *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button,
select {
  text-transform: none;
}
