// Функция перерасчета px в rem
@function rem($pixels) {
  @return calc($pixels / 16) + rem;
}

/* Breakpoints */
$bp: 1920px;
$bp0: 1600px;
$bp1: 1440px;
$bp2: 1280px;
$bp3: 1024px;
$bp4: 768px;
$bp5: 576px;
$bp6: 377px;

@mixin containerMob {
  margin-right: rem(16);
  margin-left: rem(16);
}

@mixin containerDesk {
  margin-right: rem(32);
  margin-left: rem(32);
}

@mixin sectionMarginMob {
  margin-top: 80px;
  margin-bottom: 80px;
}

@mixin sectionMarginDesk {
  margin-top: 160px;
  margin-bottom: 160px;
}
