@import '../../variables.scss';

.CasesSlider {
  $s: &;

  &.active {
    z-index: 10000;
    #{$s}__swiper {
      padding: 0;
    }
  }

  &__container {
    position: relative;
  }

  &__cursor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    background-color: var(--prime-1);
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__swiper {
    transition: 0.3s;
    overflow: visible !important;
    @include container;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 52vw;
  }

  &__half {
    position: absolute;
    top: 0;
    z-index: 15;
    cursor: default;
    background-color: transparent;
    width: 50%;
    height: 100%;

    &_left {
      left: 0;
      cursor:
        url('../../assets/images/cases-slider-left.svg') 10 10,
        auto;
    }

    &_right {
      right: 0;
      cursor:
        url('../../assets/images/cases-slider-right.svg') 10 10,
        auto;
    }

    @media (pointer: coarse) {
      &_left {
        cursor: default;
      }

      &_right {
        cursor: default;
      }
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    background-color: transparent;
    padding: rem(20) rem(30);
    max-width: 50%;
  }

  &__title {
    position: relative;
    z-index: 10;
    margin-bottom: rem(4);
    font-weight: var(--fw-medium);
    font-size: rem(40);
    line-height: rem(48);
  }

  &__desc {
    position: relative;
    z-index: 10;
    font-weight: var(--fw-light);
    font-size: rem(14);
    line-height: rem(22);
    font-family: var(--font-sec);
  }

  &__circle {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 20;
    backdrop-filter: blur(12px);
    transition: 1s;
    border: 1px solid var(--prime-1);
    border-radius: 100%;
    background-color: rgba(30, 36, 45, 0.24);
    width: 22vw;
    height: 22vw;
    color: var(--prime-1);
    font-size: 32px;

    &:hover {
      opacity: 1;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(16);
    margin: rem(24) 0;
  }

  &__bullet {
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--sec-5);
    width: rem(8);
    height: rem(8);

    &:hover {
      opacity: 0.5;
    }

    &_active {
      cursor: initial;
      background-color: var(--sec-3);
    }
  }

  @media all and (min-width: $bp3) {
    &__circle {
      display: block;
    }

    &:hover {
      #{$s}__cursor {
        z-index: 100;
        transition:
          width 0.8s,
          height 0.8s;
        width: rem(62);
        height: rem(62);

        &.hidden {
          width: 0;
          height: 0;
        }
      }
    }
  }

  @media all and (min-width: $bp2) {
    &__pagination {
      display: none;
    }
  }
}
