@import '../../variables.scss';

@property --x4 {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --y4 {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

.itemEnter {
  transform: scale(0.8);
  opacity: 0;
}

.itemEnterActive {
  transform: scale(1);
  opacity: 1;
  transition:
    opacity 1s,
    transform 1s;
}

.itemExit {
  transform: scale(1);
  opacity: 1;
}

.itemExitActive {
  transform: scale(0.8);
  opacity: 0;
  transition:
    opacity 1s,
    transform 1s;
}

.GalleryTabs {
  $s: &;

  &__header {
    @include container;
    border-top: 2px solid var(--prime-2);
    padding: rem(48) 0 rem(40) 0;
  }

  &__title {
    font-weight: var(--fw-medium);
    font-size: rem(40);
    line-height: rem(48);
  }

  &__links {
    display: none;
  }

  &__filters {
    margin-bottom: rem(8);

    ul {
      @include container;
      display: flex;
      flex-wrap: nowrap;
      gap: rem(8);
      padding: 0 0 rem(12) 0;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: thin;

      button {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        transition: border 0.1s;
        cursor: pointer;
        border: 1px solid var(--prime-2);
        border-radius: rem(34);
        background-color: var(--prime-1);
        padding: rem(8) rem(24);
        min-height: rem(40);
        overflow: hidden;
        color: var(--prime-2);
        font-size: rem(16);
        font-family: var(--font-sec);
        white-space: nowrap;

        span {
          position: relative;
          z-index: 10;
        }

        &::before {
          position: absolute;
          top: var(--y4);
          left: var(--x4);
          transform: translate(-50%, -50%);
          transition:
            width 1s,
            height 1s;
          border-radius: 50%;
          width: 0;
          height: 0;
          content: '';
        }

        &::after {
          position: absolute;
          top: var(--y4);
          left: var(--x4);
          transform: translate(-50%, -50%);
          transition:
            width 1s,
            height 1s;
          border-radius: 50%;
          width: 0;
          height: 0;
          content: '';
        }

        @media (pointer: coarse) {
          &:hover {
            border: 1px solid var(--prime-2);
            color: var(--prime-2);

            &::before {
              content: none;
            }
          }
        }

        &:hover {
          border: 1px solid var(--prime-3);
          color: var(--prime-1);

          &::before {
            border: 1px solid var(--prime-3);
            background-color: var(--prime-3);
            width: rem(700);
            height: rem(700);
          }
        }

        &:hover.active {
          border: 1px solid var(--prime-3);
        }

        &.active {
          border: 1px solid var(--prime-3);
          color: var(--prime-1);

          &::after {
            border: 1px solid var(--prime-3);
            background-color: var(--prime-3);
            width: rem(700);
            height: rem(700);
          }
        }
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media all and (min-width: $bp4) {
    &__header {
      border-top: 3px solid var(--prime-2);
    }

    &__filters {
      margin-bottom: rem(8);

      ul {
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
      }
    }

    &__items {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media all and (min-width: $bp3) {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(110) 0 rem(93) 0;
    }

    &__title {
      font-size: rem(56);
      line-height: rem(64);
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: rem(18);

      a {
        transition: 0.3s;
        font-size: rem(24);
        line-height: rem(24);
        text-align: right;

        &:hover {
          color: var(--prime-3);
        }
      }
    }
  }

  // Адаптация для desktop
  @media all and (min-width: $bp1) {
    &__title {
      font-size: rem(88);
      line-height: rem(96);
    }

    &__items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
