@import '../../variables.scss';

.Test {
  $s: &;
  position: relative;
  height: 4000px;

  &__circle {
    position: sticky;
    bottom: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--prime-2);
    mix-blend-mode: exclusion;
    filter: invert(1); // Инвертирует цвета
  }
}
