@import '../../variables.scss';

.Contacts {
  $s: &;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(48) rem(16) rem(32) rem(16);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: rem(48);
    font-weight: var(--fw-medium);
    line-height: rem(56);
    margin-bottom: rem(16);
  }

  &__mail,
  &__tel,
  &__address {
    font-family: var(--font-sec);
    transition: color 0.3s;
    display: block;

    &:hover {
      color: var(--prime-3);
    }
  }

  &__mail {
    font-size: rem(24);
    line-height: rem(32);
    margin-bottom: rem(8);
  }

  &__tel,
  &__address {
    font-family: var(--font-sec);
    font-size: rem(16);
    font-weight: var(--fw-light);
    line-height: rem(24);
    margin-bottom: rem(4);
  }

  &__call {
    display: none;
  }

  &__map {
    height: 60vh;
    max-height: rem(482);
    filter: grayscale(90%) contrast(80%) invert(100%) hue-rotate(20deg);
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  @media all and (min-width: $bp4) {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__call {
      position: relative;
      width: rem(140);
      height: rem(140);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-sec);
      font-size: rem(16);
      font-weight: var(--fw-light);
      line-height: rem(20);
      cursor: pointer;

      &::before {
        width: rem(140);
        height: rem(140);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: var(--prime-2);
        border-radius: 100%;
        transition: border-radius 1.5s ease-in-out, background-color 0.5s;
        animation-play-state: paused;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        &::before {
          transition: border-radius 1s ease-in-out, background-color 1s, transform 3s;
          animation: jelly 6s linear 0s infinite alternate none;
          background-color: var(--prime-3);
        }
      }

      @keyframes jelly {
        0% {
          border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
          transform: scale(1) rotate(10deg);
        }
        10% {
          border-radius: 40% 60% 70% 30% / 60% 50% 40% 60%;
          transform: scale(1.02) rotate(5deg);
        }
        25% {
          border-radius: 70% 30% 50% 50% / 50% 70% 30% 60%;
          transform: scale(1.03) rotate(-10deg);
        }
        40% {
          border-radius: 40% 80% 30% 70% / 70% 40% 60% 50%;
          transform: scale(0.95) rotate(15deg);
        }
        60% {
          border-radius: 60% 30% 80% 40% / 60% 50% 70% 40%;
        }
        80% {
          border-radius: 50% 60% 50% 60% / 50% 60% 50% 60%;
          transform: scale(0.95) rotate(15deg);
        }
        100% {
          border-radius: 60% 30% 80% 40% / 60% 50% 70% 40%;
          transform: scale(1) rotate(0deg);
        }
      }

      span {
        position: relative;
        z-index: 10;
        color: white;
      }
    }
  }

  @media all and (min-width: $bp3) {
    &__content {
      padding: rem(52) rem(32) rem(38) rem(32);
    }

    &__title {
      font-size: rem(88);
      font-weight: var(--fw-medium);
      line-height: rem(96);
      margin-bottom: rem(32);
    }

    &__mail {
      font-family: var(--font-prime);
      font-size: rem(40);
      font-weight: var(--fw-medium);
      line-height: rem(48);
      margin-bottom: rem(24);
    }

    &__tel,
    &__address {
      font-size: rem(27);
      font-weight: var(--fw-light);
      line-height: rem(32);
    }

    &__call {
      width: rem(196);
      height: rem(196);

      &::before {
        width: rem(196);
        height: rem(196);
      }
    }

    &__map {
      max-height: rem(669);

      img {
        width: 261%;
        height: auto;
        object-position: bottom 842px right 1191px;
      }
    }
  }

  @media all and (min-width: $bp0) {
    &__mail,
    &__tel,
    &__address {
      margin-left: rem(260);
    }

    &__tel {
      margin-bottom: rem(14);
    }

    &__call {
      margin-right: 6%;
    }
  }
}
