@import '../../variables.scss';

.Contacts {
  $s: &;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(48) rem(16) rem(32) rem(16);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: rem(48);
    font-weight: var(--fw-medium);
    line-height: rem(56);
    margin-bottom: rem(16);
  }

  &__mail,
  &__tel,
  &__address {
    font-family: var(--font-sec);
    transition: color 0.3s;
    display: block;

    &:hover {
      color: var(--prime-3);
    }
  }

  &__mail {
    font-size: rem(24);
    line-height: rem(32);
    margin-bottom: rem(8);
  }

  &__tel,
  &__address {
    font-family: var(--font-sec);
    font-size: rem(16);
    font-weight: var(--fw-light);
    line-height: rem(24);
    margin-bottom: rem(4);
  }

  &__call {
    display: none;
  }

  &__map {
    height: 60vh;
    max-height: rem(482);
    filter: grayscale(90%) contrast(80%) invert(100%) hue-rotate(20deg);
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  @media all and (min-width: $bp4) {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__call {
      width: rem(140);
      height: rem(140);
      background-color: var(--prime-2);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font-sec);
      font-size: rem(16);
      font-weight: var(--fw-light);
      line-height: rem(20);
      transition: border-radius 1.5s ease-in-out, background-color 0.5s;
      cursor: pointer;
      position: relative;
      animation-play-state: paused;

      &:hover {
        transition: border-radius 1s ease-in-out, background-color 1s;
        animation: jelly 10s linear 0.3s infinite alternate-reverse forwards;
        background-color: var(--prime-3);
      }

      @keyframes jelly {
        0% {
          border-radius: 100%;
        }
        10% {
          border-radius: 55% 45% 65% 35% / 60% 55% 45% 50%;
        }
        20% {
          border-radius: 60% 40% 70% 30% / 55% 65% 35% 45%;
        }
        30% {
          border-radius: 65% 35% 60% 40% / 50% 70% 30% 50%;
        }
        40% {
          border-radius: 60% 40% 65% 35% / 55% 60% 40% 45%;
        }
        50% {
          border-radius: 55% 45% 70% 30% / 60% 50% 50% 40%;
        }
        60% {
          border-radius: 65% 35% 60% 40% / 45% 70% 35% 55%;
        }
        70% {
          border-radius: 60% 40% 65% 35% / 50% 60% 40% 50%;
        }
        80% {
          border-radius: 55% 45% 70% 30% / 55% 50% 45% 60%;
        }
        90% {
          border-radius: 60% 40% 65% 35% / 60% 55% 50% 45%;
        }
        100% {
          border-radius: 50% 50% 60% 40% / 50% 60% 40% 50%;
        }
      }

      span {
        position: relative;
        z-index: 10;
        color: white;
      }
    }
  }

  @media all and (min-width: $bp3) {
    &__content {
      padding: rem(52) rem(32) rem(38) rem(32);
    }

    &__title {
      font-size: rem(88);
      font-weight: var(--fw-medium);
      line-height: rem(96);
      margin-bottom: rem(32);
    }

    &__mail {
      font-family: var(--font-prime);
      font-size: rem(40);
      font-weight: var(--fw-medium);
      line-height: rem(48);
      margin-bottom: rem(24);
    }

    &__tel,
    &__address {
      font-size: rem(27);
      font-weight: var(--fw-light);
      line-height: rem(32);
    }

    &__call {
      width: rem(196);
      height: rem(196);
    }

    &__map {
      max-height: rem(669);

      img {
        width: 261%;
        height: auto;
        object-position: bottom 842px right 1191px;
      }
    }
  }

  @media all and (min-width: $bp0) {
    &__mail,
    &__tel,
    &__address {
      margin-left: rem(260);
    }

    &__tel {
      margin-bottom: rem(14);
    }

    &__call {
      margin-right: 6%;
    }
  }
}
